tr {
  cursor: pointer;
}

.green {
  text-align: center;
  background-color: green;
}

.greenYellow {
  text-align: center;
  background-color: greenyellow;
}

.yellow {
  text-align: center;
  background-color: yellow;
}

.orange {
  text-align: center;
  background-color: orange;
}

.lightRed {
  text-align: center;
  background-color: rgb(230, 80, 80);
}

.red {
  text-align: center;
  background-color: red;
}
